.conteinar-inicio{

.logo{
    display: flex;
    
    color: #0A2849;

    font-size: 9px;
    
}

// Azul escuro (#0a2849) → confiança, fé,
//Dourado claro (#f5c66d) → espiritualidade, luz
//Branco puro (#ffffff) → pureza, clareza
//Cinza suave (#f3f3f3) → neutralidade para fundos

.logo>img{
    height: 60px;
}

.logo>h2{
    padding-top: 3px;
    padding-left: 10px;
}

.conteinar-tags{    
    display: flex;

    margin-top: 2rem;
    margin-left: 20px;
    margin-right: 20px;

    .tags{
        display: flex;

        background-color: #0A2849;
        width: 35rem;
        border-radius: 30px;
        height: 3rem;
        
        text-align: center;
        gap: 30px;
    
        margin-left: auto;
        margin-right: 3rem;
        padding-left: 3rem;
        padding-top: 10px;
    }

    a{
        text-decoration: none;
        text-transform: none;
        color: #f5c66d;
    }

    .tags a {
        font-size: 17px;
        font-weight: 300;
        padding-top: 2px;
        height: 30px;
        color: #f5c66d;
        

        &:hover {
            border-top: 1px solid #f5c66d;
            border-bottom: 1px solid #f5c66d;

        }

        &:active{
            color: white;
        }

    }

   
}

.conteinar-numeros{
    position: relative; 
    background-color: #ffff;
    color: #f3f3f3;
    
    
    height: 420px;
   
    margin-top: 80px;

    .imagemFrei>img{
        position: absolute;
        top: 30px;
        right: 50px;
        width:200px;
        margin-top: 40px;
    }
    
    .inscricao{
        position: absolute;
        background-color: #0A2849;
        height: 340px;
        width: 730px;
    
        border-radius: 20px;
        
        margin-left: 7rem;
        padding-left: 50px;
        padding-top: 50px;
        top: 30px;
    
        .inscricao .titleP{
            position: absolute;
            margin-top: 50px;
            font-size: 20px;
        }

        a{
            text-decoration: none;
            color: #000000;
            
        }
    
        .button a{
            position: relative;
            top: 10rem;
            left: 30rem;

            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
            border: 1px solid #f5c66d;
            background-color: #f5c66d;
            
            border-radius: 20px;
            

        &:hover{
            background-color: #ffd78c;
        }

        }
        
    }

    .container-bolinhas{
        display: flex;

        .bolinha{
            position: relative;
            top: 22rem;
            left: 28rem;
            margin-left: 1rem;

            background-color: #ffffff;
        
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 10rem;
        }
    }
    .frase{
        padding-top: 23.5rem;
        padding-left: 15rem;
        font-size: 18px;
        color: #0A2849;
     
    }
}


.ApresentacaoCurso{
    display: flex;

.video{
    background-color: #000000;
    color: #f3f3f3;
    height: 300px;
    width: 500px;

    text-align: center;

    margin-top: 3rem;
    margin-left: 2rem;

}

.texto_apresentacao>p{
    margin-top: 4rem;
    margin-left: 5rem;
}
}
}