.logo{
    display: flex;
    
    color: #f5c66d;

    padding-bottom: 20px;

    font-size: 9px;
    
}

// Azul escuro (#0a2849) → confiança, fé,
//Dourado claro (#f5c66d) → espiritualidade, luz
//Branco puro (#ffffff) → pureza, clareza
//Cinza suave (#f3f3f3) → neutralidade para fundos

.logo>img{
    height: 60px;
}

.logo>h2{
    padding-top: 5px;
    padding-left: 10px;
}

.conteinar-tags{    
    display: flex;

    background-color: #0A2849;
    color: white;

    border-radius: 20px;

    padding-left: 35px;
    padding-top: 20px;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.tags{
    display: flex;

    
    text-align: center;
    gap: 20px;


    padding-left: 200px;
    padding-top: 20px;
}

.tags>p{
    font-size: 17px;
    font-weight: 100px;

    padding-top: 2px;

    width: 90px;
    height: 30px;

    color: #f5c66d;

}

.tags>p:hover{
    border-top: 1px solid #f5c66d;
    border-bottom: 1px solid #f5c66d;
}


.imagemFrei>img{
    position: absolute;
    top: 30px;
    right: 50px;
    width:200px;
    height: auto;
    margin-top: 40px;
}

.conteinar-numeros{
    position: relative; 
    background-color: #ffff;
    color: #f3f3f3;


    border-radius: 30px;
    height: 400px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    
}

.inscricao{
    position: absolute;
    background-color: #0A2849;
    height: 300px;
    width: 530px;

    border-radius: 20px;
    
    margin-left: 40px;
    padding-left: 50px;
    padding-top: 50px;
    top: 30px;

}
.inscricao .titleP{
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}

.button>button{
    width: 130px;
    height: 30px;

    background-color: #f5c66d;

    border-radius: 20px;
    margin-top: 140px;
    margin-left:330px;
}

.frase{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    text-align: center;
}


