.logo{
    display: flex;
    
    color: #f5c66d;

    padding-bottom: 20px;

    font-size: 9px;
    
}

// Azul escuro (#0a2849) → confiança, fé,
//Dourado claro (#f5c66d) → espiritualidade, luz
//Branco puro (#ffffff) → pureza, clareza
//Cinza suave (#f3f3f3) → neutralidade para fundos

.logo>img{
    height: 60px;
}

.logo>h2{
    padding-top: 5px;
    padding-left: 10px;
}

.conteinar-tags{    
    display: flex;

    background-color: #0A2849;
    color: white;

    border-radius: 20px;

    padding-left: 35px;
    padding-top: 20px;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.tags{
    display: flex;

    
    text-align: center;
    gap: 50px;


    padding-left: 170px;
    padding-top: 20px;
}

.tags>p{
    font-size: 17px;
    font-weight: 100px;

    padding-top: 2px;

    width: 90px;
    height: 30px;

    color: #f5c66d;

}

.tags>p:hover{
    border-top: 1px solid #f5c66d;
    border-bottom: 1px solid #f5c66d;
}


.imagemFrei{
    height: 100px;
    display: flex;
    justify-content: space-between;


}

.conteinar-numeros{

    background-color: #0A2849;
    color: #f3f3f3;


    border: 1px solid black;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

